aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
bing_image_downloader
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future
git+https://github.com/AsmSafone/SafoneAPI
gitpython
geopy
gpytranslate
gtts
hachoir
heroku3
httpx
img2pdf
instaloader
lexica-api
motor
MukeshAPI
numpy
openai
opencv-python
pillow
psutil
pickledb
pornhub-api
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
git+https://github.com/doraemon890/pyrogram
python-dotenv
python-telegram-bot
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls
pyyaml
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
uvloop
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
